
#titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #13161f;
    margin-left: 7%;

}
#subtitulo{
    font-family: sans-serif;
    color: #0a151e;
    margin-left: 10%;

}
fieldset{
    border: 1;
}
body{
    background-image: url(montr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #1a0202;
    font-family: sans-serif;
    font-size: 1em;
    color:rgb(1, 1, 0);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;


}
input,select,textarea,button{

    border-radius: 5px;
}
.campo label{

    margin-bottom: 0.2em;
    color: rgb(0, 0, 0);
    display: block;


}

.botao{

    font-size: 1.2em;
    background: #ff0d00;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0,2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0,5);
    position: absolute;
    top:105%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
.form{
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
    background-position: center;
    top: 93%;
    left: 48%;
    margin-right: 60%;

}

.campo label{
    margin-bottom: 0.2em;
    color:#0a151e;
    display: block;

}
fieldset.grupo .campo{
    float: left;
    margin-right: 1em;

}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    display: block;


}

